@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, html {
    font-family: 'Kanit', sans-serif;
    background-color:#fdfbfb;
}
.title {
  font-size: 40px;
  text-align: center;
  margin: 50px 0px;
  color:#181818;
}